.main {
  font-family: Monaco, monospace;
}

/*Navigation Bar*/
.navbar {
  background-color: #67a3d7;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #d0e5f2;
  font-size: 15px;
  text-align: center;
}
