.main {
}

/*Navigation Bar*/
.navbar {
  background-color: #d0e5f2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar .btn-group .button {
  float: right;
  display: block;
  border: none;
  background-color: #d0e5f2;
  color: #274b7e;
  padding: 14px 16px;
  font-size: 16px;
  text-align: center;
  font-family: Verdana, sans-serif;
  text-decoration: none;
}

.navbar .btn-group .cur-button {
  float: right;
  display: block;
  border: none;
  background-color: #274b7e;
  color: #d0e5f2;
  padding: 14px 16px;
  font-size: 16px;
  text-align: center;
  font-family: Verdana, sans-serif;
  text-decoration: none;
}

.navbar a {
  float: left;
  display: block;
  background-color: #d0e5f2;
  color: #274b7e;
  padding: 14px 10px;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  font-family: Verdana, sans-serif;
  text-decoration: none;
}

.navbar .btn-group .button:hover {
  background-color: #67a3d7;
  color: #d0e5f2;
}
